/* Write all your CSS style code in this file! */
body {
  background-image: url(http://www.psdgraphics.com/file/black-diamond-plate.jpg);
background-size: 100%;
}

h1 {
  font-family: Indie Flower;
  color: Red;
  text-align: center;
  font-size: 65px;
}
